.cart-item-container {
    box-shadow: 0px 0px 3px 3px #aaa;
    padding: 20px;
    margin-top: 15px;
}

h1 {
    font-size: 30px;
    margin: 0;
}

.ammount-container {
    display: flex;
    align-items: center;
}

.ammount-container>input {
    margin-right: 10px;
}

.ammount-container>p {
    margin-right: 10px;
}